version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD: pgpass
      POSTGRES_DB: bitcguru_db
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
  backend:
    build: ./server
    environment:
      - PORT=4000
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_USER=pguser
      - DATABASE_PASSWORD=pgpass
      - DATABASE_NAME=bitcguru_db
      - JWT_SECRET=dev-secret
    ports:
      - "4000:4000"
    depends_on:
      - db

volumes:
  db-data:
